appdirs==1.4.4
audioread==2.1.9
beautifulsoup4==4.11.1
certifi==2022.5.18.1
cffi==1.15.0
charset-normalizer==2.0.12
colorama==0.4.4
comtypes==1.1.11
decorator==5.1.1
docopt==0.6.2
dynaconf==3.1.8
filelock==3.7.0
huggingface-hub==0.7.0
idna==3.3
joblib==1.1.0
Js2Py==0.71
librosa==0.9.1
llvmlite==0.38.1
MouseInfo==0.1.3
numba==0.55.1
numpy==1.22.4
packaging==21.3
pipwin==0.5.2
pooch==1.6.0
psutil==5.9.1
PyAudio @ file:///C:/Users/RUFUS/pipwin/PyAudio-0.2.11-cp310-cp310-win_amd64.whl
PyAutoGUI==0.9.53
pycparser==2.21
PyGetWindow==0.0.9
pyjsparser==2.7.1
PyMsgBox==1.0.9
pyparsing==3.0.9
pyperclip==1.8.2
PyPrind==2.11.3
PyRect==0.2.0
PyScreeze==0.1.28
pySmartDL==1.3.4
pytweening==1.0.4
pytz-deprecation-shim==0.1.0.post0
PyYAML==6.0
regex==2022.4.24
requests==2.27.1
resampy==0.2.2
scikit-learn==1.1.1
scipy==1.8.1
six==1.16.0
SoundFile==0.10.3.post1
soupsieve==2.3.2.post1
threadpoolctl==3.1.0
tokenizers==0.12.1
torch==1.11.0
tqdm==4.64.0
transformers==4.19.2
typing_extensions==4.2.0
tzdata==2022.1
tzlocal==4.2
urllib3==1.26.9
webrtcvad==2.0.10
